<div id="room-form-container">
  <div id="create-from"></div>
  <form method="POST" action="/rooms/create">
    <div class="form-group">
      <label for="exampleInputEmail1">Введите название комнаты</label>
      <input type="title" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Добавить комнату</button>
  </form>
</div>
