{{!-- <h1>Welcome to Express</h1> --}}
<div class='content home'>
  <div class="wrapper">
    <h1>Добро пожаловать в Rooms</h1>
    <p>Наше приложение позволит вам эффективно распределять покупки и организовывать незабываемые вечеринки!</p>
  </div>
</div>
