<form method="POST" action="/rooms" id="create-room-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Введите название комнаты</label>
    <input type="title" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" required>
  </div>
  <button type="submit" id="create-btn" class="btn btn-primary" style="width: 200px;">Добавить комнату</button>
</form>
