<div class="container border border-primary d-flex align-items-center text-dark bg-light">
  <div class="flex-grow-1 bd-highlight">Название</div>
  <span class="p-2 mx-2 bd-highlight">100р.</span>
  <input class="checkbox" type="checkbox" aria-label="Checkbox for following text input">
  <a class="ml-4 text-danger" href="#">&times;</a>
</div>