<div class="content home">
  <h3>Войти</h3>
  <form method="POST" action="/login">
    <label> Логин: <input type="text" required name="login" />
    </label>
    <label> Пароль: <input type="password" required name="password" />
    </label>
    <button type="submit">Отправка</button>
  </form>
</div>
