<h1>СТРАНИЦА РЕГИСТРАЦИЯ</h1>
<form method="POST"class="registr" action="/registration">
   <label> Имя : </label>
    <input type="text" required name="userName" />
  <label> Email :</label>
  <input type="email" required name="email" />
  <label for="password"> Пароль:</label>
  <input type="password" required name="password" />
  <button type="submit">Регистрация</button>
</form>
